form {
  align-items: center;
}

form h2,
h4 {
  margin: 0.5ch;
}

fieldset {
  max-width: 100%;
  width: 200px;
  border-radius: 6px;
  margin-bottom: 2px;
}

input[type='text'],
input[type='password'] {
  margin: 3px 1em;
  width: 177px;
  border-radius: 4px;
  border: 1px solid white;
  outline: 1px solid grey;
}

input[type='radio'] {
  margin-bottom: 1ch;
  margin-left: 1ch;
  accent-color: hsl(143, 100%, 27%);
}

input[type='radio']:checked + label {
  font-size: 103%;
  color: hsl(143, 100%, 20%);
}

label:hover {
  color: hsl(143, 100%, 20%);
}

form input[type='text']:focus {
  border: 1px solid black;
  outline: 1px solid white;
}

button {
  border: 1px solid silver;
  background: linear-gradient(hsl(0, 0%, 100%), hsl(0, 0%, 80%));
  color: black;
  width: fit-content;
  border-radius: 4px;
  margin: 14px 0;
  width: 172px;
  height: 25px;
  transition: font-size 150ms ease-in-out;
}

button:hover {
  font-size: 14px;
  background: linear-gradient(hsl(0, 0%, 100%), hsl(0, 0%, 80%) 80%);
}

form > p {
  margin-top: 0;
  width: 176px;
  font-size: 0.7em;
  color: white;
  background: hsl(0, 100%, 61%);
  border-radius: 5px;
  border: 1px solid hsl(0, 100%, 40%);
  font-weight: 600;
}

select {
  width: 177px;
}

option {
  max-width: 177px;
  word-wrap: break-word;
}

textarea {
  max-width: 100%;
  width: 447px;
  font-size: 1.15em;
  border-radius: 5px;
}

textarea:focus {
  outline: 1px solid black;
  outline-offset: -1px;
}

.radio-group {
  width: 190px;
  font-size: 14px;
}

.add-journal {
  border: 1px solid hsl(240, 100%, 30%);
  color: hsl(240, 100%, 30%);
  width: 100px;
  padding: 0 5px;
  margin: 5px;
}

.add-journal:hover {
  background: linear-gradient(white, hsl(240, 100%, 85%));
}

@media screen and (max-width: 475px) {
  textarea {
    width: 280px;
  }
  fieldset {
    width: 280px;
  }
}

@media screen and (max-width: 310px) {
  textarea {
    width: 245px;
  }
  fieldset {
    width: 280px;
  }
}
