#top-nav {
  height: 56px;
  display: flex;
  background: linear-gradient(
    to right,
    hsl(241, 66%, 55%) 88%,
    hsl(241, 66%, 75%)
  );
  color: hsl(0, 0%, 100%);
  font-size: 1.1em;
}

ul {
  display: flex;
  margin: 0;
  width: 100%;
  list-style: none;
  padding: 0 2em;
}

li {
  display: flex;
  padding: 0 1ch;
  align-items: center;
  height: 56px;
  cursor: pointer;
}

a:hover {
  color: hsl(19, 100%, 92%);
}

.rotate {
  letter-spacing: 0.34ch;
}

.rotate:hover span:nth-child(1) {
  margin-top: 12px;
}

span {
  display: inline-block;
  transition: margin 300ms ease-in-out, transform 300ms ease-in-out,
    opacity 200ms 200ms ease-in;
}

.rotate:hover span {
  float: left;
  transform: rotate(90deg);
  opacity: 1;
}

#top-nav a:nth-child(1) {
  margin-right: auto;
}

.menu-opener {
  display: none;
}

@media screen and (max-width: 625px) {
  ul {
    padding-right: 0;
  }

  .menu-opener {
    display: flex;
  }

  .right-items {
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(
      to right,
      hsl(241, 66%, 55%) 45%,
      hsl(241, 66%, 75%)
    );
    color: white;
    z-index: 1;
  }

  .none {
    display: none;
  }
}
