.main-page-content {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* background: linear-gradient(
    -20deg,
    hsl(207, 38%, 38%) 79%,
    hsl(41, 88%, 62%)
  ); */
  background-image: url('../assets/bg_blue.png');
  /* background-size: contain; */
  color: hsl(240, 100%, 17%);
  min-height: calc(100vh - 56px);
  font-size: 110%;
}

.content-card {
  display: flex;
  flex-direction: column;
  width: 512px;
  max-width: fit-content;
  padding: 0 1em;
  margin: 1em 0;
  border: 2px solid hsl(241, 66%, 45%);
  border-radius: 10px;
  box-shadow: 1px 2px 2px hsl(207, 44%, 39%);
  /* background: rgb(231, 208, 211); */
}
