html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  all: unset;
}

button {
  cursor: pointer;
}

p {
  margin: 0.7em 0;
}

.App {
  text-align: center;
}

.key-circle {
  color: hsl(19, 100%, 92%);
  opacity: 0;
  transform: rotate(90deg);
}
